@charset "UTF-8";


/* =======================================================
header
======================================================= */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 11vh;
    padding: 15px 52px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

@media screen and (max-width: 599px) {
    .header {
        padding: 15px;
    }
}


/* =============== header-title ===============*/
.header-title a {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}


/* =============== header-nav ===============*/
.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    padding-left: 32px;
    background-color: #FFF;
}

.nav-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover {
    opacity: .8;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.nav-item__logout-form button {
    border: none;
    background-color: #FFF;
    color: #000;
    font-weight: bold;
}

.nav-item__logout-form button:hover {
    cursor: pointer;
    opacity: .8;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

@media screen and (max-width: 599px) {
    .nav-list {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        padding: 11vh 0 0 11px;
        background-color: #FFF;
        z-index: 5;
    }

    .nav-item {
        padding: 10px 5px 10px 24px;
        border-bottom: 1px solid #000;
    }

    .nav-item:hover {
        background-color: #DDD;
        cursor: pointer;
    }

    .nav-link:hover {
        opacity: 1;
        text-decoration: none;
    }

    .nav-item__logout-form button:hover {
        opacity: 1;

        text-decoration: none;
    }
}


/* =============== header-burger ===============*/
.burger {
    display: none;
    width: 32px;
    height: 25px;
    z-index: 10;
}

.burger-line {
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: .3s;
}

@media screen and (max-width: 599px) {
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .burger:hover {
        cursor: pointer;
    }
}

.rotate .burger-line:nth-of-type(1) {
    transform: rotate(-45deg) translate(-5.5px, 10px);
}

.rotate .burger-line:nth-of-type(2) {
    display: none;
}

.rotate .burger-line:nth-of-type(3) {
    transform: rotate(45deg) translate(-5.5px, -10px);
}


/* =======================================================
main
======================================================= */
.main {
    margin-top: 11vh;
    height: 84vh;
}


/* =======================================================
footer
======================================================= */
.footer-content {
    display: block;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    background-color: #FFF;
    font-size: 12px;
    font-weight: bold;
}


/* =======================================================
JavaScript-add-class
======================================================= */
.toggle {
    display: flex;
}