@charset "UTF-8";

/* =======================================================
login-section
======================================================= */
.login-section {
    height: 100%;
    background-color: #EEE;
    padding: 15px;
}

.login-form {
    width: 80%;
    max-width: 480px;
    margin: 24px auto;
}

.form-title {
    margin-bottom: 15px;
}

.form-title__text {
    padding: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.login-content {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
}


/* =============== input =============== */
.login-input__item {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #888;
    box-shadow: 0 0 1px .5px #888;
    background-color: #EEE;
    color: #888;
}


/* =============== error =============== */
.login-error {
    height: 100%;
    min-height: 24px;
    color: #FF0000;
}


/* =============== button =============== */
.login-item:nth-of-type(3) {
    margin-bottom: 24px;
}

.login-button {
    width: 100%;
}

.login-button__item {
    width: 100%;
    padding: 8px;
    margin: 5px auto 10px;
    text-align: center;
    background-color: #2222DD;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 .5px 1px #CCC;
    color: #FFF;
    font-weight: bold;
}

.login-button__item:hover {
    cursor: pointer;
    opacity: .8;
}


/* =============== register =============== */
.login-item:nth-of-type(4) {
    text-align: center;
}

.register-comment__text {
    font-size: 14px;
    color: #888;
}

.register-link__text {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #2222DD;
}