@charset "UTF-8";


/* ==================================================
main
================================================== */
@media screen and (max-width: 768px) {
    .main {
        height: 100%;
    }
}


/* ==================================================
date-section
================================================== */
.date-section {
    height: 100%;
    min-height: 84vh;
    padding: 38px 75px;
    background-color: #EEE;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .date-section {
        padding: 38px 15px;
    }
}

@media screen and (max-height: 600px) {
    .date-section {
        padding: 15px;
    }
}


/* =============== title =============== */
.date-title {
    margin: 0 auto 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-sub {
    height: 25px;
    border: 1px solid #0000FF;
    border-radius: 2px;
    box-shadow: 0 0 .5px .5px #CCC;
    background-color: #FFF;
    display: flex;
    align-items: center;
}

.date-sub a {
    padding: 0 10px;
    font-size: 20px;
    color: #0000FF;
    text-decoration: none;
    font-weight: bold;
}

.date-sub:hover {
    background-color: #0000FF;
    box-shadow: none;
    cursor: pointer;
}

.date-sub a:hover {
    color: #FFF;
}

.date-main {
    margin: 0 32px;
}

.date-main h2 {
    font-size: 20px;
}

@media screen and (max-width: 480px) {
    .date-main {
        margin: 0 8px;
    }
}



/* =============== content =============== */
.date-content {
    margin: 0 auto;
}

.date-table {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.date-row__title {
    padding: 18px 0 18px 32px;
    width: 20%;
    border-top: 1px solid #AAA;
    font-weight: bold;
    text-shadow: .1px .1px #000;
}

.date-row__content {
    padding: 18px 0 18px 32px;
    width: 20%;
    border-top: 1px solid #AAA;
    color: #222;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .date-table {
        text-align: center;
        table-layout: fixed;
        word-wrap: break-word;
    }


    .date-row__title {
        padding: 5px;
    }

    .date-row__content {
        padding: 5px;
    }
}


/* =============== date-none =============== */
.date-none {
    width: 100%;
    max-width: 500px;
    min-height: 52vh;
    margin: 52px auto;
    display: flex;
    align-items: center;
    line-height: 32vh;
    background-color: #300FFF;
    border-radius: 5px;
    opacity: .6;
}

.date-none p {
    margin: 0 auto;
    padding: 15px;
    font-size: 24px;
    color: #FFF;
}


/* =============== pagination =============== */
.date-pagination {
    padding-top: 15px;
}

.pagination {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.page-link {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 35px;
    padding: 0 15px;
    border-right: 2px solid #DDD;
    background-color: #FFF;
    text-decoration: none;
    color: #289ADC;
    font-weight: bold;
}

.page-item:first-of-type .page-link {
    border-radius: 5px 0 0 5px;
}

.page-item:last-of-type .page-link {
    border-radius: 0 5px 5px 0;
    border-right: none;
}

.page-item a:hover {
    background-color: #289ADC;
    color: #FFF;
}

.active .page-link {
    background-color: #289ADC;
    color: #FFF;
}