@charset "UTF-8";


/* ==================================================
main
================================================== */
@media screen and (max-width: 768px) {
    .main {
        height: 100%;
    }
}


/* ==================================================
list-section
================================================== */
.list-section {
    height: 100%;
    min-height: 84vh;
    padding: 38px 75px;
    background-color: #EEE;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .list-section {
        padding: 38px 15px;
    }
}

@media screen and (max-height: 600px) {
    .list-section {
        padding: 15px;
    }
}


/* =============== title =============== */
.list-title {
    margin: 0 auto 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-main {
    margin: 0 32px;
}

.list-main h2 {
    font-size: 20px;
}

@media screen and (max-width: 480px) {
    .list-main {
        margin: 0 8px;
    }
}



/* =============== content =============== */
.list-content {
    margin: 0 auto;
}

.list-table {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    table-layout: fixed;
}

.list-row__title {
    padding: 18px 0 18px 32px;
    width: 25%;
    border-top: 1px solid #AAA;
    font-weight: bold;
    text-shadow: .1px .1px #000;
}

.list-row__title:nth-of-type(3) {
    width: 35%;
}

.list-row__title:nth-of-type(4) {
    width: 15%;
    padding: 5px;
}

.list-row__content {
    padding: 18px 0 18px 32px;
    width: 25%;
    border-top: 1px solid #AAA;
    color: #222;
    font-weight: bold;
}

.list-row__content:nth-of-type(3) {
    width: 35%;
}

.list-row__content:nth-of-type(4) {
    width: 15%;
    padding: 5px;
}

.list-row__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.list-row__link a {
    display: block;
    width: 115px;
    min-height: 32px;
    padding: 5px;
    line-height: 32px;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px #CCC;
    background-color: #60CCAA;
    color: #FFF;
    text-decoration: none;
}

.list-row__link a:hover {
    opacity: .8;
    box-shadow: none;
}

@media screen and (max-width: 768px) {
    .list-table {

        text-align: center;
        word-wrap: break-word;
    }


    .list-row__title {
        padding: 10px 5px;
    }

    .list-row__content {
        padding: 10px 5px;
    }
}


/* =============== pagination =============== */
.list-pagination {
    padding-top: 15px;
}

.pagination {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.page-link {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 35px;
    padding: 0 15px;
    border-right: 2px solid #DDD;
    background-color: #FFF;
    text-decoration: none;
    color: #289ADC;
    font-weight: bold;
}

.page-item:first-of-type .page-link {
    border-radius: 5px 0 0 5px;
}

.page-item:last-of-type .page-link {
    border-radius: 0 5px 5px 0;
    border-right: none;
}

.page-item a:hover {
    background-color: #289ADC;
    color: #FFF;
}

.active .page-link {
    background-color: #289ADC;
    color: #FFF;
}