@charset "UTF-8";


/* ==================================================
main
================================================== */
.main {
    height: 100%;
    min-height: 84vh;
}


/* ==================================================
personal-section
================================================== */
.personal-section {
    height: 100%;
    min-height: 84vh;
    padding: 38px 75px;
    background-color: #EEE;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .personal-section {
        padding: 38px 15px;
    }
}

@media screen and (max-height: 600px) {
    .personal-section {
        padding: 15px;
    }
}


/* =============== title =============== */
.personal-title {
    margin: 0 auto 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal-main {
    margin: 0 32px;
}

.personal-main h2 {
    font-size: 20px;
}

@media screen and (max-width: 480px) {
    .personal-main {
        margin: 0 8px;
    }
}

/* =============== personal-information =============== */
.personal-information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .personal-information {
        display: block;
    }
}

.information-name h3 {
    padding: 8px 32px;
    border: 1px solid #0000FF;
    border-radius: 3px;
    font-size: 18px;
    background-color: #FFF;
}

.information-name h3:hover {
    color: #FFF;
    background-color: #00AAFF;
    cursor: pointer;
}

.information-name__list {
    display: none;
    padding: 0;
    position: absolute;
    width: 155px;
    border: 1px solid #0000FF;
    border-top: none;
    border-radius: 0 0 15px 0;
    background-color: #FFF;
    z-index: 2;
}

.information-name__list a {
    text-align: left;
    display: block;
    padding: 5px 15px;
    color: #000;
    font-weight: bold;
}

.information-name__list a:hover {
    cursor: pointer;
    color: #FFF;
    background-color: #00AAFF;
}

.information-name__list a:last-of-type:hover {
    border-radius: 0 0 15px 0;
}

.append {
    display: block;
}

.transparent {
    opacity: .5;
}

.information-date {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-sub {
    height: 25px;
    border: 1px solid #0000FF;
    border-radius: 2px;
    box-shadow: 0 0 .5px .5px #CCC;
    background-color: #FFF;
    display: flex;
    align-items: center;
}

.date-sub a {
    padding: 0 10px;
    font-size: 20px;
    color: #0000FF;
    text-decoration: none;
    font-weight: bold;
}

.date-sub:hover {
    background-color: #0000FF;
    box-shadow: none;
    cursor: pointer;
}

.date-sub a:hover {
    color: #FFF;
}

.date-main {
    margin: 0 8px;
}

.date-main h2 {
    font-size: 18px;
}


/* =============== personal-content =============== */
.personal-content {
    margin: 0 auto;
}

.personal-table {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.personal-row__title {
    padding: 18px 0 18px 32px;
    width: 20%;
    border-top: 1px solid #888;
    background-color: #BBBBFF;
    font-weight: bold;
    text-shadow: .1px .1px #000;
}

.personal-row__title:first-of-type {
    width: 15%;
    border-right: 3px solid #888;
}

.caption-content {
    display: none;
    position: absolute;
    transform: translateX(35%);
    max-width: 215px;
    padding: 15px;
    border: 5px double #000;
    border-radius: 5px;
    background-color: #FFF;
    text-align: left;
    color: #FF0000;
    z-index: 1;
}

.personal-row__content {
    padding: 18px 0 18px 32px;
    width: 20%;
    border-top: 1px solid #888;
    color: #222;
    font-weight: bold;
}

.personal-row__content:first-of-type {
    width: 15%;
    border-right: 3px solid #888;
    background-color: #BBBBFF;
    font-weight: bold;
}

.rest-detail {
    display: none;
    position: absolute;
    transform: translateX(35%);
    max-width: 215px;
    padding: 15px;
    border: 5px double #000;
    border-radius: 5px;
    background-color: #289ADC;
    text-align: left;
    color: #FFF;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .personal-table {
        text-align: center;
        table-layout: fixed;
        word-wrap: break-word;
    }


    .personal-row__title {
        padding: 5px;
    }

    .personal-row__content {
        padding: 5px;
    }

    .rest-detail,
    .caption-content {
        transform: translateX(-100%);
    }
}


/* =============== personal-none =============== */
.personal-none {
    width: 100%;
    min-height: 52vh;
    margin: 15px auto;
    display: flex;
    align-items: center;
    line-height: 32vh;
    background-color: #300FFF;
    border-radius: 5px;
    opacity: .6;
}

.personal-none p {
    margin: 0 auto;
    padding: 15px;
    font-size: 24px;
    color: #FFF;
}